{% load static %}
<html>
  <head>
    <title>Solar PV</title>
    <link href="{% static 'register/register.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="header-container">
        <div class="nav">
          <a href="{% url 'register' %}">Register</a>
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </div>
      </div>
      <div class="home-container">
        <h3>Solar PV Home</h3>
        <div class="home-content">
          <div class="content-label">Story 1</div>
          <i src=""></i>
        </div>
      </div>
    </div>
  </body>
</html>
