.nav {
  background-color: #e0e0e0;
  height: 30px;
}

.nav a {
  color: black;
  padding: 16px;
  margin-right: 12px;
  margin-top: 12px;
  text-decoration: none;
  vertical-align: middle;
}

.nav a:hover {
  color: pink;
}

.body-wrapper {
  display: flex;
  width: 100%;
  align-content: center;
}

.form-row {
  width: 300px;
}

.form-row label {
  margin-right: 100%;
}

.form-input {
}
